body {
    font-family: Arial;
    color: black;
    margin: 0;
    padding: 0;
    background-color: white;
}


header {
    background-color: coral;
    color: white;
    padding: 1px 15px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    padding-left: 20%;
    width: 80px;
    height: auto; 
}


.search-cart span {
    margin-left: 20px;
    cursor: pointer;
}

.navigation ul {
    display: flex;
    justify-content: center;
    background-color: coral;
    list-style: none;
    padding: 10px;
    margin: 0;
}

.navigation li {
    margin: 0 15px;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 20px;
}

.welcome {
    text-align: center;
    margin-bottom: 20px;
}

.welcome h1 {
    font-size: 36px;
    color: coral;
}

.welcome h2 {
    font-size: 24px;
    color: gray;
}

.products {
    text-align: center;
    margin-top: 30px;
}

.product-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product-card {
    background-color: white;
    border: 1px solid white;
    padding: 15px;
    width: 20%;
    margin: 10px;
    box-shadow: 2px 2px 5px black;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
}
.product-image {
    max-height: 300px;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.product-card h4 {
    font-size: 18px;
    color: coral;
    margin: 5px 0;
}

.product-card p {
    font-size: 14px;
    margin: 3px 0;
    color: gray;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
    color: darkgreen;
    margin-top: 10px;
}

.product-more {
    background-color: coral;
    border: 3px solid whitesmoke;
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: 150px;
    padding: 10px 15px;
    border-radius: 8px;  
    margin-top: 15px;
    margin-bottom: 5px;
    display: inline-block;
}


footer {
    background-color: coral;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    align-items: flex-end;
    bottom: 0;
    width: 100%;
}
